autopep8
jupyter
numpy
requests
matplotlib
doq
qtconsole
mypy-ls
pyls-black
flake8
pep8-naming
jedi
jupyter_qtconsole_colorschemes
jupyter_ascending
neovim
pynvim
doq
qtconsole
'python_language_server[all]'